/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

  /** 
    * Hyperlinks im Inhaltsbereich  
    
  .site-content a:link {
    color: #0B74B8; 
  }
  .site-content a:visited { 
    color: #36aade; 
  }

  .site-content a:hover, 
  .site-content a:focus {
    color: #F5662E;
  }
  .site-content a:active {
    color: #d90000; 
  }
  */

  /* Externe Hyperlinks mit einem Symbol kennzeichnen */ 
  .site-content a[href^="http"]::after {
    content: " \29c9"; 
  }  

  .site-positionen .center-section > h2, .site-vorstand .center-section h2
  {
    font-family: 'Archivo', sans-serif;
    font-weight: var(--font-weight-small);
    color: var(--footer-bg);
  }

  .center-header > h3, .site-content .center-header > * > h3, .positionen-content .center-header > * > h3
  {
    text-align: center;
  }

  .center-header > h3, .site-content .center-header > * > h3, .positionen-content .center-header > * > h3,
  #vorstand-header .column.content h1, #vorstand-header .column.content h2, .site-default h2, .site-positionen .center-section h3,
  .site-vorstand .center-section h3
  {
    font-family: 'Arvo', 'Archivo', sans-serif;
    /*font-style:italic;*/
  }

  .site-content .center-header > * > h3, .center-header > h3,
  #vorstand-header .column.content h1, #vorstand-header .column.content h2, 
  .site-default *, .site-positionen .center-section h3, .site-vorstand .center-section h3
  {
    color: var(--footer-bg);
  }

  /* Posts/ neue Artikel */
  .post-wrapper
  {
    position: relative;
    height: unset;
    /*background-color: rgba(var(--main-value-pair), .05);*/
    padding: 3em 0;
  }
  
  .center-section
  {
    position: relative;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 100%;
    height: unset;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .date-wrapper
  {
    position: relative;
    height: 35vh;
    width: 100vw;
    background-color: var(--main-color);
  }

  .positionen-wrapper
  {
    background-color: #fff;/*var(--offwhite-color);*/
    position: relative;
    height: unset;
    padding: 3em 0;
  }

  .positionen-wrapper .center-section
  {
    padding: 0;
  }

  .positionen-wrapper .section
  {
    padding: 2% 0;
  }


  .positionen-gallery
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    list-style: none;
    margin: 0; 
    padding: 0;
  }

  .positionen-gallery > li
  {
    flex: 1 1 33.333333%;
    position: relative;
  }

  .positionen-gallery > li:hover span
  {
    border-color: var(--accent1-color);
    color: var(--accent1-color);
  }

  .positionen-gallery li:hover img
  {
    filter: saturate(0%);
  }

  .positionen-gallery li img
  {
    object-fit: cover;
    width: 100%;
    height: 22vh;
    vertical-align: middle;
    transition: all .25s ease;

  }

  .positionen-gallery > li:hover .overlay
  {
    background-color: rgba(var(--accent1-value-pair), .4);
  }

  .positionen-gallery .overlay
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-clip: border-box;
    transition: all .25s ease;
  }

  .positionen-gallery .overlay span
  {
    padding: .75em 1.5em;
    text-align: center;
    transition: all .25s ease;
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-regular);
    border: 1px solid #fff;
    background-color: #fff;
    color: var(--main-color);
  }

  .btn-wrap
  {
    width: 100%;
    text-align: center;
  }

  .btn-more
  {
    display: inline-block;
    /*font-size: var(--font-size-regular);
    font-family: 'Roboto';
    font-weight: var(--font-weight-small);
    color: white;
    background-color: var(--main-color);*/
    width: fit-content;
  }

  /* Aktuelles-Abschnitt */

  .section
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    padding: 2% 1%;
    width: 100%;
    flex: 1 1 auto;
  }

  .section > .post
  {
    flex: 1 0;
    margin: 0 1em 0 0;
    padding: 1em;
    /*background-color: var(--main-color);*/
    background-color: none;
    z-index: 0;
    transition: all .2s ease-out;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column;
    border: 1px solid rgba(var(--main-desaturated-value-pair), 0);
  }

  .img-wrapper
  {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
    flex: 0 1 auto;
  }

  .img-wrapper > img
  {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section > .post:last-of-type
  {
    margin: 0;
  }

  /*.section > .post:hover
  {
    transform: translateY(-10px);
    box-shadow: rgba(78, 102, 69, 0.14) 0px 10px 20px, rgba(78, 102, 69, 0.18) 0px 6px 6px;
  }*/

  .section > .post:hover
  {
    background-color: rgba(var(--main-desaturated-value-pair), .05);
    border: 1px solid rgba(var(--main-desaturated-value-pair), .25);
  }

  .post-overlay
  {
    overflow: hidden;
    z-index: 1;
    /*background-color: #fff;*/
    background-color: none;
    color: #000;
    flex: 1 1 auto;
  }

  .post-info
  {
    text-align: left;
    padding: 40px 0 0 0;
    font-size: var(--font-size-regular);
  }

  .post-info > *
  {
    color: var(--accent2-dark-color);
    overflow: hidden;
    display: -webkit-box;
    font-family: 'Roboto';
  }

  .post-info > p
  {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .post-info > h2
  {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  
  .post-info > h2
  {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    font-family: 'Archivo', sans-serif;
    color: var(--main-color);
    overflow-wrap: break-word;
    margin-bottom: 1rem;
    line-height: calc(var(--font-size-medium) + .1em);
  }

  .post-info > h3
  {
    font-family: 'Archivo', sans-serif;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    margin-bottom: 1rem;
  }

  .post-info > p
  {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
  }

  .post-info > .faux-link
  {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    border-bottom: 1px solid;
    width: fit-content;
    transition: color .2s ease-out;
  }

  .post-info > .faux-link:hover
  {
    color: var(--main-color);
  }

  .site-content.site-all
  {
    flex: unset;
    position: relative;
    margin: 0;
  }

  .site-content.site-all .wrapper
  {
    min-height: 0;
  }

  .post-wrapper.all
  {
    height: auto;
    padding: 0;
  }

  .post-wrapper.all .center-section
  {
    position: relative;
    transform: none;
    top: unset;
    left: unset;
    height: auto;
    width: 100%;
    padding: 0;
    display: block;
    flex-flow: unset;
  }

  .post-wrapper.all .center-section .section
  {
    display: block;
    flex-direction: unset;
    flex-wrap: unset;
    padding: 0;
    width: 100%;
    flex: unset;
  }

  .post-wrapper.all .center-section .section > .post:hover
  {
    transform: none;
    box-shadow: none;
    background-color: transparent;
  }

  .post-wrapper.all .center-section .section > .post > .post-overlay 
  {
    transition: all .1s ease-in-out;
  }

  .post-wrapper.all .center-section .section > .post:hover > .post-overlay 
  {
    background-color: rgba(var(--main-value-pair), .9);
  }

  .post-wrapper.all .center-section .section > .post:hover > .post-overlay > .post-info > *
  {
    color: #fff;
  }

  .post-wrapper.all .center-section .section > .post > .post-overlay > .post-info
  {
    padding: 30px;
  }

  .post-wrapper.all .center-section .section > .post
  {
    display: table;
    position: relative;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid rgba(var(--main-value-pair), .9);
    height: 10%;
  }

  .post-wrapper.all .center-section .section > .post:after
  {
    content: "";
    display: table;
    clear: both;
  }

  .post-wrapper.all .center-section .section .post > *
  {
    float: left;
    padding: 0;
  }

  .post-wrapper.all .center-section > h3
  {
    padding: 2em 0 1em 0;
  }

  .post-wrapper.all .center-section .section > .post > .post-overlay > .post-info > h3
  {
    font-size: var(--font-size-small);
  }

  .post-wrapper.all .center-section .section > .post > .post-overlay > .post-info > h2
  {
    font-size: var(--font-size-regular);
  }

  .post-wrapper.all .center-section .section > .post > .post-overlay > .post-info > p
  {
    font-size: var(--font-size-small);
    margin: 0;
  }

  .site-all .wrapper
  {
    padding: 0;
  }

  /*

  .post-wrapper.all .center-section .section .post > .img-wrapper
  {
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

  .post-wrapper.all .center-section .section .post > .img-wrapper > img
  {
    position: relative;
    top: unset;
    left: unset;
    transform: none;
  }  

  .post-wrapper.all .center-section .section .post > .post-overlay
  {
    width: 75%;
  }  
  */
  .post-wrapper.all .center-section .section .post > .post-overlay
  {
    width: 100%;
  }  
  .site-content a[href^="http"]::after
  {
    content: none;
  }

  .section .post-categories
  {
    list-style-type: none;
    text-decoration: none;
  }

  .section .post-categories a
  {
    color: var(--accent1-color);
  }

  /* Daten/ Events */
  .events
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }

  .event
  {
    display: inline-block;
    width: 20vw;
    height: 10vw;
    background-color: #fff;
    padding: 1.5vw;
    overflow: hidden;
    margin: 0 1vw;
  }

  .event-title, .event-button
  {
    font-size: var(--font-size-small);
  }

  .event-date
  {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--offwhite-accent-color);
  }

  .event-title
  {
    font-weight: var(--font-weight-large);
    color: var(--main-color);
  }

  .event-button
  {
    background-color: var(--accent1-color);
    position: absolute;
    font-weight: var(--font-weight-regular);
    bottom: 1.5vw;
    padding: .4rem;
    transition: background-color .2s ease-out;
  }

  .event-button:hover
  {
    background-color: var(--accent1-dark-color);    
  }

  a.event-link
  {
    width: 100%;
    height: 100%;
    color: #fff;
  }

  /* Instagram */
  .instagram-wrapper
  {
    width: 100%;
    padding: 10vh 5vh;
    /*background-color: rgba(var(--main-value-pair), .05);*/
  }

  .feed
  {
    position: relative;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .sb_instagram_header a
  {
    color: var(--main-color);
  }


  /** 
    * Seite "News" 
    * 
    * Grundgestaltung der Beiträge und Linklisten 
    * 
    */ 

  .news h3 {
    padding-top: 0.5rem;
    border-top: 1px solid #eee; 
    margin-bottom: 0.25rem;
  }

  .beitragsliste h3 a {
    color: #333; 
  }

  .beitragsliste article {
    margin-bottom: 4rem;
  }

  .beitragsliste article header h3{
    font-size: var(--font-size-large);
    margin: 0;
  }

  .beitragsliste article header .beitragsinfo{
    font-size: var(--font-size-small);
    margin: 0;
  }

  .beitragsliste article p{
    font-size: var(--font-size-regular);
  }

  .beitragsinfo {
    color: #999; 
  }    


  
  /** 
    * Seite "Über uns"
    * 
    * Vorstellung des Teams
    * responsiv per Grid - ohne Media Query 
    * 
    */

  .mitglieder {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 1rem; 

    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

  .mitglied {
    text-align: center; 

    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.5rem; 
    /* im Grid durch grid-gap ersetzt */ 
    margin-bottom: 1rem; 
  }

  .mitglied h4 {
    line-height: 1; 
    color: #fff;
    background-color: #0b74b8;

    padding: 1rem; 
    /* der negative margin zieht die Überschrift bis an den Rand */
    margin: -0.5rem -0.5rem 2rem -0.5rem;
  }

  .mitglied > i.fas {
    display: block; 
    color: #999; 
    margin-bottom: 1rem; 
  }

  

  /** 
    * Kontaktdaten    
    */  
  
  .kontaktdaten {
    background: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
  }  
  
  /* Social Links bei den Kontaktdaten */ 
  .social-links {
    display: flex; 
    list-style-type: none; 
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 1rem 0; 
  }

  .social-links li {
    display: inline-block; /* Fallback für alte Browser */ 
    margin: 0 1rem 0 0;
  }

  .social-links a {
    display: block; 
  }

  .social-links i.fab {
    background: white;
    line-height: 0.8;
  }  
  
  
} /* Ende @media */ 

@media screen and (max-width: 500px) 
{
  .positionen-gallery > li
  {
    flex: 1 1 100%;
    position: relative;
    display: none;
  }
 
  .positionen-gallery > li:nth-of-type(1),
  .positionen-gallery > li:nth-of-type(2),
  .positionen-gallery > li:nth-of-type(3)
  {
    display: list-item;
  }

  .positionen-wrapper .section
  {
    padding: 4% 0;
  }

  .home .post-wrapper
  {
    padding: inherit;
  }

  .home .post-wrapper h3
  {
    margin-top: 1rem;
  }

  .post-wrapper
  {
    padding: 0;
  }
}
  
/* Infoboxen nebeneinander per Grid */ 

  @media screen and (min-width: 768px) {

    .infoboxen > .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;      
      grid-gap: 1rem;
    }

  } /* Ende der Media Query */ 

@supports (display: grid) {

  /* "Über uns - Das Team" - Abstand nach unten wird durch grid-gap definiert */ 
  .mitglied {
    margin-bottom: 0; 
  }  

} 