/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

  /** 
    * Hyperlinks im Inhaltsbereich  
    
  .site-content a:link {
    color: #0B74B8; 
  }
  .site-content a:visited { 
    color: #36aade; 
  }

  .site-content a:hover, 
  .site-content a:focus {
    color: #F5662E;
  }
  .site-content a:active {
    color: #d90000; 
  }
  */

  /* Externe Hyperlinks mit einem Symbol kennzeichnen */ 
  .site-content a[href^="http"]::after {
    content: " \29c9"; 
  }  

  .center-header > h3, .site-content .center-header > * > h3, .positionen-content .center-header > * > h3
  {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
    font-style:italic;
  }

  .site-content .center-header > * > h3, .center-header > h3
  {
    color: var(--footer-bg);
  }

  /* Posts/ neue Artikel */
  .post-wrapper
  {
    position: relative;
    height: 100vh;
    background-color: red;
  }
  
  .center-section
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
    padding: 20% 0;
    text-align: center;
  }

  .date-wrapper
  {
    position: relative;
    height: 35vh;
    width: 100vw;
    background-color: var(--main-color);
  }

  .positionen-wrapper
  {
    background-color: orange;/*var(--offwhite-color);*/
    position: relative;
    height: 100vh;
  }

  .positionen-wrapper .center-section
  {
    padding: 10% 0;
  }

  .positionen-wrapper .section
  {
    padding: 0;
  }


  .positionen-gallery
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    list-style: none;
    font-weight: 300;
    font-size: .9em;
    text-transform: uppercase;
    margin: 0; 
    padding: 0;
  }

  .positionen-gallery > li
  {
    width: 33.333%;
    position: relative;
    height: 20vh;
  }

  .positionen-gallery > li:hover span
  {
    transform: translateY(-.5em);
  }

  .positionen-gallery li img
  {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    vertical-align: middle;
    transition: all .25s ease;
  }

  .positionen-gallery > li:hover .overlay
  {
    background-color: rgba(145, 201, 124, .5);
  }

  .positionen-gallery .overlay
  {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all .25s ease;
  }

  .positionen-gallery .overlay span
  {
    background-color: #fff;
    padding: .75em 1em;
    text-align: center;
    transition: all .25s ease;
  }

  /* Aktuelles-Abschnitt */

  .section
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    padding: 2% 1%;
    width: 100%;
    height: 100%;
  }

  .section > .post
  {
    flex: 1;
    margin: 0 1% 0 0;
    background-color: var(--main-color);
    z-index: 0;
    transition: box-shadow .2s ease-out, transform .2s ease-out;
    overflow: hidden;
    background-color: var(--main-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .img-wrapper
  {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding-top: 56.25%;
    position: relative;
  }

  .img-wrapper > img
  {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section > .post:last-of-type
  {
    margin: 0;
  }

  .section > div:hover
  {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 10px 20px, rgba(0, 0, 0, 0.18) 0px 6px 6px;
  }

  
  .post-info > h2
  {
    margin-top: .25rem;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    overflow-wrap: break-word;
  }

  .post-info > h3
  {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .site-content a[href^="http"]::after
  {
    content: none;
  }

  .section .post-categories
  {
    list-style-type: none;
    text-decoration: none;
  }

  .section .post-categories a
  {
    color: var(--accent1-color);
  }
  
  .post-overlay
  {
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    color: #000;
  }

  /* Daten/ Events */
  .events
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }

  .event
  {
    display: inline-block;
    width: 20vw;
    height: 10vw;
    background-color: #fff;
    padding: 1.5vw;
    overflow: hidden;
    margin: 0 1vw;
  }

  .event-title, .event-button
  {
    font-size: .75rem;
  }

  .event-date
  {
    font-size: .6rem;
    font-weight: 400;
    color: var(--offwhite-accent-color);
  }

  .event-title
  {
    font-weight: 800;
    color: var(--main-color);
  }

  .event-button
  {
    background-color: var(--accent1-color);
    position: absolute;
    font-weight: 400;
    bottom: 1.5vw;
    padding: .4rem;
    transition: background-color .2s ease-out;
  }

  .event-button:hover
  {
    background-color: var(--accent1-dark-color);    
  }

  a.event-link
  {
    width: 100%;
    height: 100%;
    color: #fff;
  }

  /* Instagram */
  .instagram-wrapper
  {
    width: 100%;
    padding: 10vh 5vh;
  }

  .feed
  {
    position: relative;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .sb_instagram_header a
  {
    color: var(--main-color);
  }


  /** 
    * Seite "News" 
    * 
    * Grundgestaltung der Beiträge und Linklisten 
    * 
    */ 

  .news h3 {
    padding-top: 0.5rem;
    border-top: 1px solid #eee; 
    margin-bottom: 0.25rem;
  }

  .beitragsliste h3 a {
    color: #333; 
  }

  .beitragsliste article {
    margin-bottom: 4rem;
  }

  .beitragsinfo {
    color: #999; 
  }    


  
  /** 
    * Seite "Über uns"
    * 
    * Vorstellung des Teams
    * responsiv per Grid - ohne Media Query 
    * 
    */

  .mitglieder {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 1rem; 

    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

  .mitglied {
    text-align: center; 

    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.5rem; 
    /* im Grid durch grid-gap ersetzt */ 
    margin-bottom: 1rem; 
  }

  .mitglied h4 {
    line-height: 1; 
    color: #fff;
    background-color: #0b74b8;

    padding: 1rem; 
    /* der negative margin zieht die Überschrift bis an den Rand */
    margin: -0.5rem -0.5rem 2rem -0.5rem;
  }

  .mitglied > i.fas {
    display: block; 
    color: #999; 
    margin-bottom: 1rem; 
  }

  

  /** 
    * Kontaktdaten    
    */  
  
  .kontaktdaten {
    background: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
  }  
  
  /* Social Links bei den Kontaktdaten */ 
  .social-links {
    display: flex; 
    list-style-type: none; 
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 1rem 0; 
  }

  .social-links li {
    display: inline-block; /* Fallback für alte Browser */ 
    margin: 0 1rem 0 0;
  }

  .social-links a {
    display: block; 
  }

  .social-links i.fab {
    background: white;
    line-height: 0.8;
  }  
  
  
} /* Ende @media */ 


  
/* Infoboxen nebeneinander per Grid */ 

  @media screen and (min-width: 768px) {

    .infoboxen > .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;      
      grid-gap: 1rem;
    }

  } /* Ende der Media Query */ 

@supports (display: grid) {

  /* "Über uns - Das Team" - Abstand nach unten wird durch grid-gap definiert */ 
  .mitglied {
    margin-bottom: 0; 
  }  

} 