/* ================================

content.css 

- Links in main 
- Inhalte in main    

================================ */ 

@media screen {

  /** 
    * Hyperlinks im Inhaltsbereich  
    
  .site-content a:link {
    color: #0B74B8; 
  }
  .site-content a:visited { 
    color: #36aade; 
  }

  .site-content a:hover, 
  .site-content a:focus {
    color: #F5662E;
  }
  .site-content a:active {
    color: #d90000; 
  }
  */

  /* Externe Hyperlinks mit einem Symbol kennzeichnen */ 
  .site-content a[href^="http"]::after {
    content: " \29c9"; 
  }  

  
  /** 
    * Infoboxen    
    */
  
  .infoboxen {
    background-color: #eee;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  
  .infobox {
    /* Infobox als Flex-Container */ 
    display: flex; 
    flex-flow: column;
    
    text-align: center; 
    background-color: white; 
    padding: 1rem;
    margin: 1rem 0; 
  }
  
  /* Hyperlinks am unteren Rand der Infobox platzieren */ 
  .infobox p:last-child {
    margin-top: auto; 
  }

  /** 
    * Kundenstimmen mit <blockquote> 
    */
  .kundenstimme {
    background-color: #eee; 
    text-align: center; 
    padding: 1rem; 
    border-left: 5px solid #0b74b8; 
    margin: 1rem 0; 
  }

  /* Posts/ neue Artikel */
  .post-wrapper
  {
    position: relative;
    height: 65vh;
  }

  .date-wrapper
  {
    position: relative;
    height: 35vh;
    width: 100vw;
    background-color: var(--main-color);
  }

  .posts-section
  {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20vh;
    grid-template-areas: 
      "mc sc1"
      "mc sc2";
    grid-gap: 16px;
    justify-items: center;
  }

  .posts-section > div
  {
    width: 30vw;
    background-color: var(--main-color);
    padding: 2rem;
    z-index: 0;
    transition: box-shadow .2s ease-out, transform .2s ease-out;
    overflow: hidden;
  }

  .posts-section > div:hover
  {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 10px 20px, rgba(0, 0, 0, 0.18) 0px 6px 6px;
  }

  .posts-section > div *
  {
    margin: 0;
    padding: 0;
  }

  .post-info
  {
    position: absolute;
    z-index: 2;
  }

  #post-1 .post-info
  {
    bottom: 1.5rem;
    left: 1.5rem;
  }

  #post-2 .post-info, #post-3 .post-info
  {
    position:absolute; 
    top: 50%;
    left: 55%;
    transform: translate(0, -50%);
  }

  .post-info > h2
  {
    margin-top: .25rem;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--offwhite-color);
    overflow-wrap: break-word;
  }

  #post-2 .post-info h2, #post-3 .post-info h2
  {
    width: 90%;
    overflow-wrap: break-word;
  }

  .post-info > h3
  {
    font-size: 9pt;
    text-transform: uppercase;
    font-weight: 300;
  }

  .posts-section > div
  {
    position: relative;
    background-color: var(--main-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .posts-section > div > a > span
  {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    z-index: 3;
  }

  .site-content a[href^="http"]::after
  {
    content: none;
  }

  .posts-section .post-categories
  {
    list-style-type: none;
    text-decoration: none;
  }

  .posts-section .post-categories a
  {
    color: var(--accent1-color);
  }

  .posts-section .post-categories a::after
  {
    content: none;
  }

  #post-1
  {
    grid-area: mc;
  }

  #post-2
  {
    grid-area: sc1;
  }

  #post-3
  {
    grid-area: sc2;
  } 

  .post-overlay
  {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;

    background-size:cover;
    z-index: 1;
  }

  #post-1 .post-overlay
  {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }

  #post-2 .post-overlay, #post-3 .post-overlay
  {
    background-image: linear-gradient(-70deg, var(--accent2-color) 0%, var(--accent2-color) 60%, transparent 60.2%);
  }

  /* Daten/ Events */
  .events
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }

  .event
  {
    display: inline-block;
    width: 20vw;
    height: 10vw;
    background-color: #fff;
    padding: 1.5vw;
    overflow: hidden;
    margin: 0 1vw;
  }

  .event-title, .event-button
  {
    font-size: .75rem;
  }

  .event-date
  {
    font-size: .6rem;
    font-weight: 400;
    color: var(--offwhite-accent-color);
  }

  .event-title
  {
    font-weight: 800;
    color: var(--main-color);
  }

  .event-button
  {
    background-color: var(--accent1-color);
    position: absolute;
    font-weight: 400;
    bottom: 1.5vw;
    padding: .4rem;
    transition: background-color .2s ease-out;
  }

  .event-button:hover
  {
    background-color: var(--accent1-dark-color);    
  }

  a.event-link
  {
    width: 100%;
    height: 100%;
    color: #fff;
  }

  /* Instagram */
  .instagram-wrapper
  {
    width: 100%;
    padding: 5vh;
  }

  .feed
  {
    position: relative;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .sb_instagram_header a
  {
    color: var(--main-color);
  }


  /** 
    * Seite "News" 
    * 
    * Grundgestaltung der Beiträge und Linklisten 
    * 
    */ 

  .news h3 {
    padding-top: 0.5rem;
    border-top: 1px solid #eee; 
    margin-bottom: 0.25rem;
  }

  .beitragsliste h3 a {
    color: #333; 
  }

  .beitragsliste article {
    margin-bottom: 4rem;
  }

  .beitragsinfo {
    color: #999; 
  }    


  
  /** 
    * Seite "Über uns"
    * 
    * Vorstellung des Teams
    * responsiv per Grid - ohne Media Query 
    * 
    */

  .mitglieder {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 1rem; 

    list-style: none; 
    padding: 0; 
    margin: 0; 
  }

  .mitglied {
    text-align: center; 

    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.5rem; 
    /* im Grid durch grid-gap ersetzt */ 
    margin-bottom: 1rem; 
  }

  .mitglied h4 {
    line-height: 1; 
    color: #fff;
    background-color: #0b74b8;

    padding: 1rem; 
    /* der negative margin zieht die Überschrift bis an den Rand */
    margin: -0.5rem -0.5rem 2rem -0.5rem;
  }

  .mitglied > i.fas {
    display: block; 
    color: #999; 
    margin-bottom: 1rem; 
  }

  

  /** 
    * Kontaktdaten    
    */  
  
  .kontaktdaten {
    background: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
  }  
  
  /* Social Links bei den Kontaktdaten */ 
  .social-links {
    display: flex; 
    list-style-type: none; 
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 1rem 0; 
  }

  .social-links li {
    display: inline-block; /* Fallback für alte Browser */ 
    margin: 0 1rem 0 0;
  }

  .social-links a {
    display: block; 
  }

  .social-links i.fab {
    background: white;
    line-height: 0.8;
  }  
  
  
} /* Ende @media */ 


  
/* Infoboxen nebeneinander per Grid */ 

  @media screen and (min-width: 768px) {

    .infoboxen > .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;      
      grid-gap: 1rem;
    }

  } /* Ende der Media Query */ 

@supports (display: grid) {

  /* "Über uns - Das Team" - Abstand nach unten wird durch grid-gap definiert */ 
  .mitglied {
    margin-bottom: 0; 
  }  

} 