.site-default
{
    background-color: rgba(var(--main-value-pair), .05);
}

.empty-page > * 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-image img
{
    width: 25%;
}

.empty-image
{
    margin: 0 0 60px 0;
}

.site-default .post-wrapper
{
    background: none;
}

.site-default .wrapper
{
    padding: 0;
}

.site-default .center-section h3:first-of-type
{
    font-size: var(--font-size-xlarge);
    text-align: center;
    margin: 0;
}

.site-default .center-section h3
{
    text-align: left;
}

.site-default .center-section h2
{
    font-size: var(--font-size-large);
}

.site-default .center-section
{
    justify-content: center;
    text-align: left;
    padding: 0 20%;
    font-family: 'Roboto';
    font-size: var(--font-size-small);
}

.site-default .wp-block-file, .site-default h2
{
    margin: 0;
}

.wp-block-quote
{
    font-weight: var(--font-weight-large);
    border-left: 2px solid rgba(var(--offwhite-accent-value-pair), .5);
    width: 60vw;
    padding: 0 3rem;
    text-align: center;
    font-size: var(--font-size-medium);
    margin: 0 auto;
}

.wp-block-group
{
    margin: 5% 0;
}

.site-default ul
{
    list-style-type: disc;
    margin-left: 5%;
    padding: 0;
}

.site-default a
{
    color: var(--main-color);
}

.download-section
{

}

p:empty
{
    display: none;
}

.separator
{
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--footer-bg);
    margin: 20px 0;
}

@media screen and (max-width: 500px) 
{
    .site-default .center-section
    {
        padding: 0 5%;
    }
}