/* ================================

layout.css 

- Gestaltung der Layoutbereiche 

- Sticky Footer 
  - body ist Flex-Container 
  - Variante 1: .site-content hat flex: 1
  - Variante 2: .site-footer hat margin-top: auto 

- Hauptnavigation in eigenem Stylesheet 
- Inhaltsbereich in content.css 

IE11 
- schmaler Viewport für alte Browser (575px)
- breiter Viewport mit @supports (960px) 
- Sticky Footer mit flex: 1 auto 
- @media nicht verschachteln 

================================ */

:root
{
  --landing-header-font-size: 2rem;
  --landing-header-width: calc(var(--landing-header-font-size) * 11);

  --landing-intro-height-small: calc(50vh - var(--nav-height));
  --landing-intro-height: calc(100vh - var(--nav-height));
}

body
{
  overflow-x: hidden;
  margin: 0;
}

@media screen { 

  /**
    * Layout mit voller Breite 
    * .wrapper für Layoutbereiche oder zusätzliche <div>-Elemente 
    *
    */ 

  .landing-intro h1, .landing-intro h2
  {
    font-family: 'Roboto', sans-serif;
    font-size: var(--landing-header-font-size);
    color: var(--accent2-color);
    margin: 0;
    padding: 0;
    line-height: var(--landing-header-font-size);
    width: var(--landing-header-width);
  }

  .landing-intro h1
  {
    font-weight: 300;
  }

  .landing-intro h2
  {
    font-weight: 600;
  }

  .landing-intro
  {
    display: inline-block;
    height: var(--landing-intro-height-small);
    width: 100vw;
    background-color: aquamarine;
    text-transform: uppercase;
  }

  #landing-halflogo
  {
    height: var(--landing-intro-height-small);
    width: var(--landing-intro-height-small);
    background-size: 100% var(--landing-intro-height-small);
    background-repeat:no-repeat;
    background-position: center center;
    filter: brightness(0) saturate(100%) invert(89%) sepia(53%) saturate(3152%) hue-rotate(317deg) brightness(104%) contrast(105%);
  }
  
  body {
    background: white; 
    margin: 0; 
    
    min-height: 100vh; 
    display: flex; 
    flex-flow: column; 
  }
  
  /* Schmales Layout für alte Browser */  
  .wrapper {
    /*min-width: 320px; 
    max-width: 575px; */
    
    padding: 0 1rem; 
    /*margin: 0 25vw;*/
    margin: 0;
  }
    
  
  /**
    * Kopfbereich   
    */ 

  .site-header {
    padding-top: 1rem;
  } 
  
  /* Abstände Logo und Slogan anpassen */ 
  .site-logo {
    margin-bottom: 0; 
  }
  .site-slogan {
    margin: 0; 
  }

  
  /**
    *  Logo als Text gestalten 
    * 
    * Farben basieren auf denen der HTML/CSS-Logos vom W3C
    */

  /* h1 bekommt font-size:2.5rem in basis.css */ 
  .site-logo {
    letter-spacing: 2px; 

    padding: 0; 
    margin: 0;
  }
  
  /* Verlinkung zur Startseite nicht unterstreichen */ 
  .site-logo a { text-decoration: none; }
  
  /* HTML */ 
  .site-logo-01 { color: #f36639; }
  
  /* Das Pluszeichen + */ 
  .site-logo-02 { color: #eec03a; }
  
  /* CSS */ 
  .site-logo-03  { color: #36abde; }  
  
  
  /**
    * Inhaltsbereich   
    */ 

  /* Zeilenabstand auf das anderthalbfache der Schriftgröße */
  .site-content {
    line-height: 1.5;
    margin-bottom: 1rem; 
    
    /* Sticky Footer Variante 1: Inhaltsbereich wächst und drückt den Footer nach unten */   
    /* für IE11 mit auto (siehe https://pmueller.de/flexbox-ie-flex1/) */ 
    flex: 1 auto; 
  }
 
  /**
    * Fußbereich   
    */ 

  /* Grundlegende Gestaltung der Fußzeile aus Teil 1 (inkl. font-size kleiner) */
  .site-footer {
    font-size: smaller;
    background-color: var(--footer-bg); 
    padding: 1rem 0; /* ohne horizontales Padding */  
    /* margin-top: 2rem; */
    
    /* Sticky Footer Variante 2: Automatischer margin drückt den Fußbereich nach unten */ 
    margin-top: auto; 
    
    clear: both; 
  }
  .site-footer a {
    color: white; 
    text-decoration: none; 
  }

} /* Ende @media */ 


/* Wrapper auf 960px für moderne Browser */ 
@supports (display:grid) {
  
  .wrapper {
    /*max-width: 960px;*/
    max-width: 100%; 
  }  
  
}


/**
  * Grid - zweispaltiges Layout im Inhaltsbereich 
  * mit Bereichsnamen ("Named Grid Areas")
  * 
  */

@media screen and (min-width: 768px) 
{

  .landing-intro
  {
    display: inline-block;
    height: var(--landing-intro-height);
    width: 100vw;
    background-color: aquamarine;
    text-transform: uppercase;
  }

  .landing-intro #landing-stripe
  {
    position: absolute;
    top: 44%;
    left: 0;
    transform: translate(0, -44%);    
    z-index: 3;

    height: 2px;
    width: var(--landing-stripe-length);
    background-color: var(--main-color);
  }

  .landing-intro #landing-text
  {
    position: absolute;
    top: 50%;
    transform: translate(-20%, -50%);
    left: 20%;
    z-index: 3;
  }

  #landing-text-link-separator
  {
    background-color: none;
    padding: 1.5vh;
  }

  #landing-flower-overlay
  {
    position: absolute;
    height: calc(100% - var(--nav-height));
    width: 100%;
    left: 0;
    top: var(--nav-height);
    z-index: 2;
  }

  #landing-flower-overlay > *
  {
    display: inline-block;
  }

  .landing-intro #landing-text a
  {
    background-color: var(--main-color);
    text-decoration: none;
    color: #fff;
    font-size: .7em;
    font-weight: 300;
    padding: .7em 1.6em;
    transition: all .2s ease;
  }

  .landing-intro #landing-text a:hover
  {
    color: #fff;
    background-color: var(--accent1-dark-color);
  }

  #landing-intro-half1
  {
    height: 100%;
    width: 30vw;
    background-color: white;
  }

  .landing-halflogo
  {
    margin-left: -1vw;
    height: 100%;
    width: auto;
    /*filter: brightness(0) saturate(100%) invert(89%) sepia(53%) saturate(3152%) hue-rotate(317deg) brightness(104%) contrast(105%);*/
  }

  #landing-intro-half2:before
  {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(255,255,255,.3);
  }

  #landing-intro-half2
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    right: 0;
    left: 0;
  }

  

  /* Partnerschaften */
  .partnerships
  {
    position: relative;
    padding: 12.5vh 0;
    margin-top: -1rem;
    height: 50vh;
    width: 100%;
    background-color: var(--offwhite-color);
  }

  .partnerships ul
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 7.5vh 0;
    padding: 0 20vw;
  }

  .partnerships ul li
  {
    display: inline-block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    width: 13vw;
    height: 13vw;
  }

  .partnerships ul div
  {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li .call-to-action
  {
    display: block;
    flex: 0 0 auto;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 2vw 5vw;
    background-color: var(--main-color);
    transition: all .2s ease;
  }

  ul li .call-to-action:hover
  {
    color: #fff;
    background-color: var(--accent1-dark-color);
  }

  /*
  .partnerships ul li div
  {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(0) saturate(100%) invert(61%) sepia(5%) saturate(241%) hue-rotate(155deg) brightness(92%) contrast(86%);
    transition: filter .2s ease-out;
  }

  .partnerships ul li div:hover
  {
    filter: brightness(0) saturate(100%) invert(17%) sepia(5%) saturate(1823%) hue-rotate(162deg) brightness(92%) contrast(81%);
  }*/

  /* Inhalt */

  .content-intro
  {
    margin: 0;
    padding: 0;
  }

  .news .site-content .wrapper,
  .kontakt .site-content .wrapper {
    display: grid; 

    grid-template-columns: 2fr 1fr; 
    grid-template-areas: 
      "intro intro"
      "col1 col2";

    grid-column-gap: 3rem; 
    grid-row-gap: 1rem; 
  }

  /* Das erste Grid-Item explizit positionieren */ 
  .news .site-content .content-intro,
  .kontakt .site-content .content-intro {
    /* Variante 1: Positionierung mit Gridlinien */
    grid-column: 1/3;

    /* Variante 2: Positionierung mit Bereichsnamen */ 
    grid-area: intro; 
  }
  .kontakt .kontaktformular-abschnitt {
    grid-area: col1; 
  }

} /* Ende der Media Query */ 

