@media screen 
{
    .site-footer
    {
        padding: 0;
        background: none;
    }

    .site-footer a
    {
        color: var(--offwhite-color);
        transition: color .2s ease-in-out;
    }

    .site-footer a:hover
    {
        color: var(--main-light-color);
    }

    .site-footer > *, .post-template-default .site-footer .wrapper
    {
        padding: 30px 0;
    }
    .site-footer > .wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--footer-bg);
        padding: 30px 0;
    }

    .site-footer .sub-footer
    {
        background-color: var(--accent2-dark-color);
    }

    #footer-title
    {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20pt;
        color: var(--main-light-color);
    }

    .meta-nav
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #menu-footer, #menu-unterfooter
    {
        list-style-type: none; /*to remove bullets*/
        text-align: center;
        padding: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        margin: 0 auto;
    }

    #menu-footer > li
    {
        line-height: 1.5em;
        flex: 33.33%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu-unterfooter > li
    {
        line-height: 1.5em;
        flex: 33.33%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #menu-footer > li, #menu-unterfooter > li
    {
        padding: 2px;
        display:inline-block;
        vertical-align: top;
        text-align: left;
        font-weight: var(--font-weight-medium);
        font-family: 'Archivo';
    }

    #menu-footer a
    {
        font-family: 'Archivo';
    }

    #menu-footer .sub-menu
    {
        list-style-type: none;
        text-align: left;
        padding: 0;
        margin: 0;
        text-transform: capitalize;
        font-weight: 300;
    }

    #menu-footer .sub-menu a
    {
        font-weight: var(--font-weight-smaller);
    }

    #menu-unterfooter > li
    {
        text-transform: capitalize;
        font-weight: 300;
        text-align: center;
    }

    .copyright-notice
    {
        text-align: center;
        width: 100%;
        background-color: var(--accent2-dark-color);
        color: rgba(255,255,255, .3);
        padding-top: 0;
    }

    .copyright-notice a
    {
        color: rgba(255,255,255, .3);
        transition: all .1s ease-in-out;
    }

    .copyright-notice a:hover
    {
        color: #fff;
    }

} /* Ende @media */   
  
  
  
  /** 
    * Navigation ab 768px - Menübutton ausblenden und Liste horizontal anzeigen 
    * 
    */ 
  
  @media screen and (max-width: 950px) {
  
    /* Menübutton verstecken */ 
    .menubutton { display: none; } 
    
    #menu-footer, #menu-unterfooter
    {
        width: 80%;
    }

    footer.site-footer div.wrapper
    {
        padding: 15px 0;
    }
  
  
  } /* Ende der Media Query */