/* ================================

navi-responsiv.css 

Responsive Navigation basierend auf display:flex  

IE11 
- versteht verschachtelte @media nicht 
  (siehe https://caniuse.com/#feat=css-mediaqueries)
- Lösung: MQ ab 768px unter @media screen

================================ */

body
{
  font-family: 'Roboto', sans-serif;
}

a
{
  text-decoration: none;
}

@media screen {

  /**
    * Menübutton zum Ein- und Ausklappen gestalten  
     
  
  .menubutton {
    display: block; 
    background: #666; 
    color: white; 
    
    font-family: inherit; 
    font-size: inherit; 
    text-align: center; 
    
    padding: 0.5rem 1rem; 
    border: 0; 
    border-radius: 0.25rem; 
    margin: 0 1rem 0.5rem 1rem;
  }*/ 
  
    
  /**
    * Basisformatierung 
    */
  .openBtn, #mainSidebar {
    display: none;
  }

  .site-nav.transparent-background
  {
    
    background: var(--positionen-bg);
    color: var(--positionen-text-color);
  }

  .site-nav.no-background
  {
    
    background: #fff;
    color: var(--accent2-color);
  }

  .site-nav.transparent-background #site-nav-logo, .site-nav.transparent-background .brand-icon
  {
    
    filter: brightness(0) saturate(100%) invert(45%) sepia(31%) saturate(441%) hue-rotate(60deg) brightness(95%) contrast(82%);
  }

  .site-nav.no-background #site-nav-logo, .site-nav.no-background .brand-icon
  {
    
    filter: brightness(0) saturate(100%) invert(17%) sepia(5%) saturate(1823%) hue-rotate(162deg) brightness(92%) contrast(81%);
  }

  .site-nav.transparent-background li.site-nav-participate a
  {
    background-color: transparent;
    color: var(--positionen-text-color);
  }

  .site-nav.no-background li.site-nav-participate a
  {
    background-color: var(--accent2-color);
    color: #fff;
  }

  .site-nav.transparent-background li.site-nav-participate #site-nav-border-participate
  {
    border-color: var(--positionen-text-color);
  }

  .site-nav { 
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    z-index: 100;
    height: var(--nav-height);
    background: #fff; 
    color: var(--offwhite-accent-color); 
  }

  .site-nav > .wrapper {
    padding-left: 0; 
    padding-right: 0; 
    height: var(--nav-height);
    line-height: var(--nav-height);
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  
  /** 
    * Liste gestalten 
    */
  .site-nav #site-nav-logo
  {
    height: 100%;
    margin-right: .5rem;
    width: var(--relative-logo-size);
    display: inline-block;
    background-size: var(--relative-logo-size);
    background-repeat:no-repeat;
    background-position: center center;
    filter: brightness(0) saturate(100%) invert(89%) sepia(53%) saturate(3152%) hue-rotate(317deg) brightness(104%) contrast(105%);
  }

  .site-nav .site-nav-separator
  {
    display: inline-block;
    width: 10vw;
    height: 100%;
  }

  .site-nav .site-nav-col
  {
    font-size: 0.0001px;
    text-align: center;
    height: 100%;
    display: inline-block;
  }

  /*
  .site-nav-col:before
  {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 100%;
  }*/

  .site-nav .site-nav-col > *
  {
    font-size: .8rem;
  }

  .site-nav .site-nav-list 
  {
    /*
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }

  .site-nav .menu-item-has-children
  {
    float: left;
    overflow: hidden;
  }

  .site-nav .menu-item-has-children:hover .sub-menu
  {
    display: block;
    opacity: 1;
    transition: opacity .2s ease-out;
  }

  .site-nav .sub-menu
  {
    opacity: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    margin: 0;
    padding: 0;
  }

  .site-nav.transparent-background .sub-menu
  {
    background-color: var(--positionen-bg);
  }

  .site-nav .sub-menu li
  {
    /*border: 1px solid var(--offwhite-color);*/
    border: 0;
    display: block;
    color: var(--accent2-color);
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .site-nav .sub-menu > li > a
  {
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  
  .site-nav .site-nav-list > li 
  {

    display: inline-block;
    height: 100%;
    /*display: inline-block;
    list-style: none;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;*/
  }

  .site-nav .site-nav-list a{
    display: inline-block;
    text-align: center;
    padding: 0 1vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: inherit;
    transition: background-color .2s ease-out;
    /*text-decoration: none;
   
    background: none;

    text-transform: capitalize;
    color: inherit;*/
  }

  .site-nav li.site-nav-participate  a
  {
    color: #fff;
    padding: 0 1.5vw;
    background-color: var(--main-color);
    transition: background-color .2s ease-out;
  }

  .site-nav #site-nav-border-participate
  {
    border-bottom: 1px solid #fff;
    padding-bottom: .125rem;
  }

  .site-nav .menu-all-pages-container
  {
    display: inline-block;
  }

  .site-nav .right li a
  {
    height: 100%;
    width: 100%;
  }

  .site-nav .brand-icon
  {
    height: 1rem;
    width: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) saturate(100%) invert(17%) sepia(5%) saturate(1823%) hue-rotate(162deg) brightness(92%) contrast(81%);
  }
  
  /*
  .site-nav-list a.sie-sind-hier,
  .site-nav-list .current-menu-item a{
    background: none;
  }  */

  .site-nav.transparent-background .site-nav-list a:hover,
  .site-nav.transparent-background .site-nav-list a:focus,
  .site-nav.transparent-background .right .site-nav-participate a:hover,
  .site-nav.transparent-background .right .site-nav-participate a:focus
  {
    background-color: var(--positionen-text-color); 
    color: var(--positionen-bg);
  }

  .site-nav.transparent-background .right .site-nav-participate a:hover #site-nav-border-participate,
  .site-nav.transparent-background .right .site-nav-participate a:focus #site-nav-border-participate
  {
    border-color: var(--positionen-bg);
  }

  .site-nav.transparent-background .right a:hover, 
  .site-nav.transparent-background .right a:focus {
    background-color: initial;
    color: initial;
  }
  
  .site-nav .site-nav-list a:hover, 
  .site-nav .site-nav-list a:focus {
    background-color: var(--main-color); 
    color: var(--offwhite-color);
  }

  .site-nav .right a:hover, 
  .site-nav .right a:focus {
    background-color: initial;
    color: initial;
  }

  .site-nav .site-nav-participate a:hover,
  .site-nav .site-nav-participate a:focus
  {
    background-color: var(--accent1-color); 
    color: var(--offwhite-color);
  }

  .site-nav .site-nav-list 
  {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
  }
  
  /*
  .site-nav-list a:active {
    background: #0b74b8; 
    color: white; 
  }*/

  /*
  .site-nav-list 
  {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
  }
  
  .site-nav-list li {
    display: block;
    list-style: none; 
    height: 100%;
    line-height: 100%;
    text-align: center;
  }
  
  
  /**
    * Links gestalten 
    */  
  /*
  .site-nav-list a {
    text-decoration: none;

    height: 100%;
    line-height: 100%;
    
    background: #333;
    color: white;
    
  }
  
  .site-nav-list a.sie-sind-hier,
  .site-nav-list .current-menu-item a{
    background: #666; 
    color: white; 
  }  
  
  .site-nav-list a:hover, 
  .site-nav-list a:focus {
    background: #666; 
    color: white; 
  }
  
  .site-nav-list a:active {
    background: #0b74b8; 
    color: white; 
  }  
  
  .site-nav-list {
    max-height: 0; 
    overflow: hidden; 
  }
  
  .show-menu + .site-nav-list {
    max-height: 100rem; 
    
    transition: max-height 400ms ease-in-out; 
  }
  */
} /* Ende @media */   



/** 
  * Navigation ab 768px - Menübutton ausblenden und Liste horizontal anzeigen 
  * 
  */ 

@media screen and (max-width: 950px)
{
  .site-nav > .wrapper {
    text-align: center;
    vertical-align:middle;
  }

  .site-nav .site-nav-col
  {
    display: none;
  }

  #mainSidebar .site-nav-list
  {
    padding: 0;
    margin: 0;
  }

  #mainSidebar
  {
    display: unset;
  }

  #mainSidebar .sub-menu
  {
    margin: 0;
    padding: 0;
  }

  #mainSidebar .sub-menu a
  {
    padding-left: 4em;
  }

  .horizBreak
  {
    width: 100%;
    height: 1px;
    background-color: var(--offwhite-accent-color);
    content: "";
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 101; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--offwhite-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: var(--font-size-medium);
  }

  .sidebar a {
    padding: 1em 3em;
    text-decoration: none;
    color: var(--offwhite-accent-color);
    display: block;
    transition: 0.2s;
    width: unset;
  }

  .sidebar a:hover {
    color: var(--main-color);
    background-color: rgba(var(--offwhite-accent-value-pair), .125);
  }

  .sidebar .closeBtn {
    font-size: var(--font-size-large);
    text-align: right;
  }

  .sidebar .closeBtn:hover
  {
    background: none;
  }

  .openBtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--offwhite-accent-color);
    padding: 0 2em;
    border: none;
    display: block;
    background: none;
    float: left;
    position: absolute;
    
  }

  .openBtn:first-of-type
  {
    top: 50%;
    transform: translate(0, -50%);
  }

  .openBtn.icon
  {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .openBtn.icon a
  {
    width: 1.5em;
    height: 1.5em;
    content: "";
    display: block;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .sidebar-social-links
  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
  }

  .sidebar-social-links li
  {
    float: left;
    display: block;

  }

  .sidebar-social-links a div
  {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: var(--font-size-large);
    width: var(--font-size-large);
    filter: brightness(0) saturate(100%) invert(17%) sepia(5%) saturate(1823%) hue-rotate(162deg) brightness(92%) contrast(81%);
  }
}  

@media screen and (min-width: 768px) {

  /* Menübutton verstecken */ 
  .menubutton { display: none; } 

  /* Liste einblenden und als Zeile darstellen */ 
  /*.site-nav-list {
    max-height: none; 
    overflow: auto; 
    transition: none; 

    flex-flow: row wrap; 
  }*/

  

  /* Fine-Tuning und Fallback für Flexbox */ 
  /*.site-nav { padding: 0; }

  .site-nav > .wrapper { padding: 0 1rem; }*/

  /*.site-nav-list li { 
    display: inline-block; 
    height: 100%;
    line-height: 100%;
    vertical-align: middle;

    flex: 1; 
    text-align: center; 
    border-right: 1px solid #eee; 

    max-width: 170px; 

  }*/


} /* Ende der Media Query */


