/* ================================

style.css 

- zentrales Stylesheet 
- importiert Google Fonts 
- importiert alle anderen Stylesheets 

================================ */ 

/* Google Fonts laden */ 
@import url(https://fonts.googleapis.com/css?family=Dosis:400,700|Source+Sans+Pro:400,400i,700);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@import url(basis.css); 

@import url(layout.css); 

@import url(navi-responsiv.css); 

@import url(navi-footer.css);

@import url(content.css); 

@import url(formulare.css); 

/*@import url(navi-meta.css); */

@import url(drucken.css);

@import url(beitrag.css);

@import url(positionen.css);

@import url(vorstand.css);

@import url(default_page.css);

@import url(404.css);

:root
{
  --main-color: rgb(70, 149, 43);
  --main-value-pair: 70,149,43;
  --main-desaturated-color: rgb(97, 128, 87);
  --main-desaturated-value-pair: 97,128,87;
  --main-desaturated-dark-color: rgb(78, 102, 69);
  --main-light-color: rgb(145, 201, 124);
  --main-light-value-pair: 145,201,124;
  --main-lighter-color: rgb(237, 255, 231);
  --accent1-color: rgb(255, 212, 78);
  --accent1-dark-color: rgb(230, 190, 71);
  --accent1-darker-color: rgb(172, 134, 23);
  --accent3-color: rgb(246, 0, 123);
  --accent2-color: rgb(51, 58, 63);
  --accent2-dark-color: rgb(35, 39, 43);
  --offwhite-color: rgb(253, 252, 252);
  --offwhite-accent-color: rgb(138, 142, 144);
  --offwhite-accent-value-pair: 138,142,144;
  --footer-color: rgb(var(--footer-value-pair));
  --footer-value-pair: 101,119,119;
  --footer-bg: rgb(53, 61, 65);

  --nav-height: 3.5rem;
  --relative-logo-size: calc(var(--nav-height) * .62);
  
  --positionen-text-color: var(--main-desaturated-color);
  --positionen-text-value-pair: var(--main-desaturated-value-pair);
  --positionen-text-dark-color: var(--main-desaturated-dark-color);
  --positionen-bg: var(--main-lighter-color);

  --font-size-smaller: 0.6rem;
  --font-size-small: 0.8rem;
  --font-size-regular: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-mlarge: 2rem;
  --font-size-xlarge: 2.5rem;

  --font-weight-smaller: 200;
  --font-weight-small: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-large: 800;
}

a
{
  color: var(--main-color);
  transition: all .2s;
}

a:hover
{
  color: var(--accent1-dark-color);
}