#vorstand-header
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    align-items: flex-start;
    position: relative;
}

#vorstand-header .column:first-of-type
{
    padding: 0 10%;
}

#vorstand-header .column.portrait
{
    flex: 40%;
    height: 100%;
}

#vorstand-header .column.content
{
    flex: 60%;
    padding-top: 5%;
}

#vorstand-header .column.content h1, #vorstand-header .column.content h2
{
    margin: 0;
}

#vorstand-header .column.content h1
{
    font-size: var(--font-size-xlarge);
    margin: -.5rem 0 .5rem 0;
}

#vorstand-header .column.content h2
{
    font-size: var(--font-size-large);
    opacity: .5;
}

#vorstand-header .column.content .personal
{
    font-size: var(--font-size-small);
    font-family: 'Roboto';
}

#vorstand-header #vorstand-thumbnail
{
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}