#vorstand-header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    position: relative;
}

#vorstand-header .column.portrait
{
    flex: 40%;
    height: 100%;
}

#vorstand-header .column.content
{
    flex: 60%;
}

#vorstand-header #vorstand-thumbnail
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}